# Carga de datos y limpieza

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_2014 = pd.read_csv("C:/Users/noeam/Documents/git/github/proyecto_pt2/data/2014_data_new.csv")
df_2014

,tipo_ejer_1ano_aerobics,tipo_ejercicio_10anos_aerobics,tipo_ejercicio_20anos_aerobics,tipo_ejercicio_30anos_aerobics,tipo_ejer_5anos_aerobics,tipo_ejer_actual_aerobics,cantidad_alcohol_x_semana,tiene_diab_amigo_10,edad_amigo_10,tiene_sobrep_obesidad_amigo_10,...,has_fumado,cambio_habitos_probabilidad_dm,acido_urico,acido_urico_categorias,porc_mexicanos_obesidad_intervalos,cantidad_calorias_1L_refresco_cat,cantidad_calorias_1L_agua_cat,veces_come_fueradecasa_actual,veces_come_fueradecasa_1anio,veces_come_fueradecasa_5anios
0,0,0,0,0,0,0,2,NaN,NaN,NaN,...,0,2,35.0,NORMAL,c,0,a,a,a,a
1,0,0,1,0,0,0,1,0.0,46.0,0.0,...,5,1,52.0,NORMAL,e,0,0,a,b,a
2,0,0,0,0,0,0,2,NaN,NaN,NaN,...,18,1,6.0,NORMAL,0,a,a,a,a,c
3,0,0,0,0,0,0,0,NaN,NaN,NaN,...,10,1,7.0,NORMAL,d,0,0,a,a,a
4,0,0,0,0,0,0,1,NaN,NaN,NaN,...,52,1,56.0,NORMAL,0,0,a,b,b,a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1070,0,0,0,0,0,1,0,NaN,NaN,NaN,...,0,2,54.0,NORMAL,c,b,a,a,a,a
1071,0,0,0,0,0,0,0,NaN,NaN,NaN,...,0,1,35.0,NORMAL,0,0,0,c,b,b
1072,0,0,0,0,0,0,10,NaN,NaN,NaN,...,0,2,63.0,NORMAL,c,a,a,c,c,c
1073,0,0,0,0,0,0,0,NaN,NaN,NaN,...,0,1,61.0,NORMAL,d,c,a,a,a,a
1074,0,0,0,0,0,0,4,NaN,NaN,NaN,...,2,2,87.0,ALTO CRITICO,0,0,a,b,b,b

In [3]:
df_fmed = pd.read_csv("C:/Users/noeam/Documents/git/github/proyecto_pt2/data/fmed_data_new.csv")
df_fmed

,sexo,estado_civil,grado_estudios,tienes_obesidad,edad_dx_obesidad,tiene_diab_tipo2,edad_dx_diab_tipo2,padece_hipertensión_arterial,edad_dx_hipertensión_arterial,padece_problemas_cardiacos,...,pcr,cloro,potasio,sodio,edad_real,munneca,porc_musculos,rmkcal,edad_corporal,grasa_visceral
0,F,L,B,2.0,NaN,2.0,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,F,L,B,2.0,NaN,2.0,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,F,L,B,2.0,NaN,2.0,17.0,0.0,17.0,1.0,...,NaN,NaN,NaN,NaN,19.0,15.0,23.6,1199.0,21.0,3.0
3,M,L,B,2.0,NaN,2.0,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,24.0,17.0,35.0,1845.0,47.0,10.0
4,F,L,B,2.0,NaN,2.0,16.0,0.0,16.0,0.0,...,NaN,NaN,NaN,NaN,18.0,15.0,26.7,1117.0,38.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839,M,C,B,2.0,NaN,2.0,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
840,F,L,B,2.0,NaN,2.0,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
841,F,L,B,2.0,NaN,2.0,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842,F,L,B,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
variables = ['grado_estudios', 'tienes_obesidad', 'estatura', 'peso_actual', 'imc', 'sexo', 'horas_ejercicio_actual', 'horas_ejercicio_1ano', 'horas_ejercicio_5ano']
df_2014_filtrado = df_2014[variables]
df_2014_filtrado

,grado_estudios,tienes_obesidad,estatura,peso_actual,imc,sexo,horas_ejercicio_actual,horas_ejercicio_1ano,horas_ejercicio_5ano
0,T,2,158,775.0,31045.0,M,2,2,6
1,T,2,149,79.0,35584.0,F,1,0,0
2,L,2,174,70.0,23121.0,M,1,1,1
3,S,2,168,65.0,2303.0,M,1,5,5
4,B,2,165,55.0,20202.0,F,6,6,6
...,...,...,...,...,...,...,...,...,...
1070,L,2,168,45.0,15944.0,F,1,5,5
1071,B,2,16,54.0,20833.0,F,20,0,0
1072,D,2,168,73.0,2526.0,M,6,6,5
1073,S,2,156,70.0,29136.0,F,4,4,0
1074,M,2,163,69.0,2597.0,M,2,3,5

In [5]:
variables = ['grado_estudios', 'tienes_obesidad', 'estatura', 'peso_actual', 'imc', 'sexo', 'horas_ejercicio_actual', 'horas_ejercicio_1ano', 'horas_ejercicio_5ano', 'horas_suenno_calidad', 'suenno_diario_1ano', 'suenno_diario_5anos']
df_fmed_filtrado = df_fmed[variables]
df_fmed_filtrado

,grado_estudios,tienes_obesidad,estatura,peso_actual,imc,sexo,horas_ejercicio_actual,horas_ejercicio_1ano,horas_ejercicio_5ano,horas_suenno_calidad,suenno_diario_1ano,suenno_diario_5anos
0,B,2.0,1.44,49.5,NaN,F,5.0,10.0,5.0,4.0,9.0,9.0
1,B,2.0,1.44,47.1,NaN,F,0.0,0.0,1.5,4.0,5.0,8.0
2,B,2.0,1.59,51.0,21.0,F,0.0,5.0,9.0,4.0,1.0,5.0
3,B,2.0,1.72,85.0,28.6,M,3.0,5.0,15.0,3.0,5.0,7.0
4,B,2.0,1.45,51.4,24.4,F,8.0,15.0,25.0,5.0,8.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...
839,B,2.0,1.66,67.0,NaN,M,0.0,2.0,4.0,5.0,8.0,7.0
840,B,2.0,1.60,65.0,NaN,F,0.0,2.0,4.0,4.0,7.0,9.0
841,B,2.0,1.68,88.0,NaN,F,0.0,8.0,4.0,1.0,9.0,8.0
842,B,2.0,1.62,63.0,NaN,F,1.0,5.0,5.0,3.0,8.0,9.0
843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#df_2014_filtrado.isnull().sum()
# Definir una función para reformatear los números
def reformatear(numero):
    # Convertir el número a una cadena de texto
    texto = str(numero)
    # Si el número tiene un punto decimal, separar la parte entera y la parte decimal
    if '.' in texto:
        entera, decimal = texto.split('.')
    # Si no, asumir que la parte decimal es cero
    else:
        entera = texto
        decimal = '0'
    # Tomar los primeros dos dígitos de la parte entera como la nueva parte entera
    nueva_entera = entera[:2]
    # Tomar el resto de la parte entera y la parte decimal como la nueva parte decimal
    nueva_decimal = entera[2:] + decimal
    # Si la nueva parte decimal está vacía, poner un cero
    if nueva_decimal == '':
        nueva_decimal = '0'
    # Convertir la nueva parte entera y la nueva parte decimal a números
    nueva_entera = int(nueva_entera)
    nueva_decimal = float(nueva_decimal)
    nueva_decimal = str(nueva_decimal)
    # Dividir la nueva parte decimal por 10 elevado al número de dígitos que tiene
    nueva_decimal = nueva_decimal / (10 ** len(nueva_decimal))
    # Sumar la nueva parte entera y la nueva parte decimal para obtener el nuevo número
    nueva_decimal = float(nueva_decimal)
    nuevo_numero = nueva_entera + nueva_decimal
    # Devolver el nuevo número
    return nuevo_numero

# Aplicar la función a la columna 'numeros' y crear una nueva columna 'new_numeros'
df_2014_filtrado['IMC'] = df_2014_filtrado['imc'].apply(lambda x: float(str(x).replace('.', '')[:2] + '.' + str(x).replace('.', '')[2:]) if not pd.isna(x) else np.nan)
df_2014_filtrado

C:\Users\noeam\AppData\Local\Temp\ipykernel_11832\2688511273.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2014_filtrado['IMC'] = df_2014_filtrado['imc'].apply(lambda x: float(str(x).replace('.', '')[:2] + '.' + str(x).replace('.', '')[2:]) if not pd.isna(x) else np.nan)

,grado_estudios,tienes_obesidad,estatura,peso_actual,imc,sexo,horas_ejercicio_actual,horas_ejercicio_1ano,horas_ejercicio_5ano,IMC
0,T,2,158,775.0,31045.0,M,2,2,6,31.045
1,T,2,149,79.0,35584.0,F,1,0,0,35.584
2,L,2,174,70.0,23121.0,M,1,1,1,23.121
3,S,2,168,65.0,2303.0,M,1,5,5,23.030
4,B,2,165,55.0,20202.0,F,6,6,6,20.202
...,...,...,...,...,...,...,...,...,...,...
1070,L,2,168,45.0,15944.0,F,1,5,5,15.944
1071,B,2,16,54.0,20833.0,F,20,0,0,20.833
1072,D,2,168,73.0,2526.0,M,6,6,5,25.260
1073,S,2,156,70.0,29136.0,F,4,4,0,29.136
1074,M,2,163,69.0,2597.0,M,2,3,5,25.970

In [7]:
#df_fmed_filtrado.isnull().sum()
df_fmed_filtrado['IMC'] = df_fmed_filtrado['peso_actual'] / (df_fmed_filtrado['estatura'] ** 2)
df_fmed_filtrado

C:\Users\noeam\AppData\Local\Temp\ipykernel_11832\607732682.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fmed_filtrado['IMC'] = df_fmed_filtrado['peso_actual'] / (df_fmed_filtrado['estatura'] ** 2)

,grado_estudios,tienes_obesidad,estatura,peso_actual,imc,sexo,horas_ejercicio_actual,horas_ejercicio_1ano,horas_ejercicio_5ano,horas_suenno_calidad,suenno_diario_1ano,suenno_diario_5anos,IMC
0,B,2.0,1.44,49.5,NaN,F,5.0,10.0,5.0,4.0,9.0,9.0,23.871528
1,B,2.0,1.44,47.1,NaN,F,0.0,0.0,1.5,4.0,5.0,8.0,22.714120
2,B,2.0,1.59,51.0,21.0,F,0.0,5.0,9.0,4.0,1.0,5.0,20.173253
3,B,2.0,1.72,85.0,28.6,M,3.0,5.0,15.0,3.0,5.0,7.0,28.731747
4,B,2.0,1.45,51.4,24.4,F,8.0,15.0,25.0,5.0,8.0,8.0,24.447087
...,...,...,...,...,...,...,...,...,...,...,...,...,...
839,B,2.0,1.66,67.0,NaN,M,0.0,2.0,4.0,5.0,8.0,7.0,24.314124
840,B,2.0,1.60,65.0,NaN,F,0.0,2.0,4.0,4.0,7.0,9.0,25.390625
841,B,2.0,1.68,88.0,NaN,F,0.0,8.0,4.0,1.0,9.0,8.0,31.179138
842,B,2.0,1.62,63.0,NaN,F,1.0,5.0,5.0,3.0,8.0,9.0,24.005487
843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_fmed_filtrado

,grado_estudios,tienes_obesidad,estatura,peso_actual,imc,sexo,horas_ejercicio_actual,horas_ejercicio_1ano,horas_ejercicio_5ano,horas_suenno_calidad,suenno_diario_1ano,suenno_diario_5anos,IMC
0,B,2.0,1.44,49.5,NaN,F,5.0,10.0,5.0,4.0,9.0,9.0,23.871528
1,B,2.0,1.44,47.1,NaN,F,0.0,0.0,1.5,4.0,5.0,8.0,22.714120
2,B,2.0,1.59,51.0,21.0,F,0.0,5.0,9.0,4.0,1.0,5.0,20.173253
3,B,2.0,1.72,85.0,28.6,M,3.0,5.0,15.0,3.0,5.0,7.0,28.731747
4,B,2.0,1.45,51.4,24.4,F,8.0,15.0,25.0,5.0,8.0,8.0,24.447087
...,...,...,...,...,...,...,...,...,...,...,...,...,...
839,B,2.0,1.66,67.0,NaN,M,0.0,2.0,4.0,5.0,8.0,7.0,24.314124
840,B,2.0,1.60,65.0,NaN,F,0.0,2.0,4.0,4.0,7.0,9.0,25.390625
841,B,2.0,1.68,88.0,NaN,F,0.0,8.0,4.0,1.0,9.0,8.0,31.179138
842,B,2.0,1.62,63.0,NaN,F,1.0,5.0,5.0,3.0,8.0,9.0,24.005487
843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#df_fmed_filtrado = df_fmed_filtrado.dropna()
df_fmed_filtrado.isnull().sum()

grado_estudios             95
tienes_obesidad            95
estatura                   96
peso_actual               104
imc                       643
sexo                       95
horas_ejercicio_actual    101
horas_ejercicio_1ano      105
horas_ejercicio_5ano      112
horas_suenno_calidad       95
suenno_diario_1ano         95
suenno_diario_5anos        95
IMC                       104
dtype: int64

# Comienza Transformación

# Creamos las variables categóricas para hábito ejercicio (Bueno o Malo)

In [10]:
def exercise_habit_case(value):
    if value >= 2.5:
        return 'B'
    else:
        return 'M'

In [11]:
# Leemos los valores como numericos
#df_2014_filtrado['horas_ejercicio_actual'] = pd.to_numeric(df_2014_filtrado['horas_ejercicio_actual'], errors='coerce')
#df_2014_filtrado['horas_ejercicio_1ano'] = pd.to_numeric(df_2014_filtrado['horas_ejercicio_1ano'], errors='coerce')
#df_2014_filtrado['horas_ejercicio_5ano'] = pd.to_numeric(df_2014_filtrado['horas_ejercicio_5ano'], errors='coerce')
df_2014_filtrado['ejer_act'] = df_2014_filtrado['horas_ejercicio_actual'].apply(exercise_habit_case)
df_2014_filtrado['ejer_1'] = df_2014_filtrado['horas_ejercicio_1ano'].apply(exercise_habit_case)
df_2014_filtrado['ejer_5'] = df_2014_filtrado['horas_ejercicio_5ano'].apply(exercise_habit_case)
df_2014_filtrado

C:\Users\noeam\AppData\Local\Temp\ipykernel_11832\2699710743.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2014_filtrado['ejer_act'] = df_2014_filtrado['horas_ejercicio_actual'].apply(exercise_habit_case)
C:\Users\noeam\AppData\Local\Temp\ipykernel_11832\2699710743.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2014_filtrado['ejer_1'] = df_2014_filtrado['horas_ejercicio_1ano'].apply(exercise_habit_case)
C:\Users\noeam\AppData\Local\Temp\ipykernel_11832\2699710743.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2014_filtrado['ejer_5'] = df_2014_filtrado['horas_ejercicio_5ano'].apply(exercise_habit_case)

,grado_estudios,tienes_obesidad,estatura,peso_actual,imc,sexo,horas_ejercicio_actual,horas_ejercicio_1ano,horas_ejercicio_5ano,IMC,ejer_act,ejer_1,ejer_5
0,T,2,158,775.0,31045.0,M,2,2,6,31.045,M,M,B
1,T,2,149,79.0,35584.0,F,1,0,0,35.584,M,M,M
2,L,2,174,70.0,23121.0,M,1,1,1,23.121,M,M,M
3,S,2,168,65.0,2303.0,M,1,5,5,23.030,M,B,B
4,B,2,165,55.0,20202.0,F,6,6,6,20.202,B,B,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1070,L,2,168,45.0,15944.0,F,1,5,5,15.944,M,B,B
1071,B,2,16,54.0,20833.0,F,20,0,0,20.833,B,M,M
1072,D,2,168,73.0,2526.0,M,6,6,5,25.260,B,B,B
1073,S,2,156,70.0,29136.0,F,4,4,0,29.136,B,B,M
1074,M,2,163,69.0,2597.0,M,2,3,5,25.970,M,B,B

In [12]:
df_fmed_filtrado['ejer_act'] = df_fmed_filtrado['horas_ejercicio_actual'].apply(exercise_habit_case)
df_fmed_filtrado['ejer_1'] = df_fmed_filtrado['horas_ejercicio_1ano'].apply(exercise_habit_case)
df_fmed_filtrado['ejer_5'] = df_fmed_filtrado['horas_ejercicio_5ano'].apply(exercise_habit_case)
df_fmed_filtrado

C:\Users\noeam\AppData\Local\Temp\ipykernel_11832\998306620.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fmed_filtrado['ejer_act'] = df_fmed_filtrado['horas_ejercicio_actual'].apply(exercise_habit_case)
C:\Users\noeam\AppData\Local\Temp\ipykernel_11832\998306620.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fmed_filtrado['ejer_1'] = df_fmed_filtrado['horas_ejercicio_1ano'].apply(exercise_habit_case)
C:\Users\noeam\AppData\Local\Temp\ipykernel_11832\998306620.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fmed_filtrado['ejer_5'] = df_fmed_filtrado['horas_ejercicio_5ano'].apply(exercise_habit_case)

,grado_estudios,tienes_obesidad,estatura,peso_actual,imc,sexo,horas_ejercicio_actual,horas_ejercicio_1ano,horas_ejercicio_5ano,horas_suenno_calidad,suenno_diario_1ano,suenno_diario_5anos,IMC,ejer_act,ejer_1,ejer_5
0,B,2.0,1.44,49.5,NaN,F,5.0,10.0,5.0,4.0,9.0,9.0,23.871528,B,B,B
1,B,2.0,1.44,47.1,NaN,F,0.0,0.0,1.5,4.0,5.0,8.0,22.714120,M,M,M
2,B,2.0,1.59,51.0,21.0,F,0.0,5.0,9.0,4.0,1.0,5.0,20.173253,M,B,B
3,B,2.0,1.72,85.0,28.6,M,3.0,5.0,15.0,3.0,5.0,7.0,28.731747,B,B,B
4,B,2.0,1.45,51.4,24.4,F,8.0,15.0,25.0,5.0,8.0,8.0,24.447087,B,B,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839,B,2.0,1.66,67.0,NaN,M,0.0,2.0,4.0,5.0,8.0,7.0,24.314124,M,M,B
840,B,2.0,1.60,65.0,NaN,F,0.0,2.0,4.0,4.0,7.0,9.0,25.390625,M,M,B
841,B,2.0,1.68,88.0,NaN,F,0.0,8.0,4.0,1.0,9.0,8.0,31.179138,M,B,B
842,B,2.0,1.62,63.0,NaN,F,1.0,5.0,5.0,3.0,8.0,9.0,24.005487,M,B,B
843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,M,M

# Creamos las variables categóricas para hábito cantidad de horas de sueño (Bueno o Malo)

In [13]:
def sleep_habit_case(value):
    if (value >= 7) and (value <= 9):
        return 'B'
    else:
        return 'M'

In [14]:
df_fmed_filtrado['suenio_act'] = df_fmed_filtrado['horas_suenno_calidad'].apply(sleep_habit_case)
df_fmed_filtrado['suenio_1'] = df_fmed_filtrado['suenno_diario_1ano'].apply(sleep_habit_case)
df_fmed_filtrado['suenio_5'] = df_fmed_filtrado['suenno_diario_5anos'].apply(sleep_habit_case)
df_fmed_filtrado

C:\Users\noeam\AppData\Local\Temp\ipykernel_11832\552682515.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fmed_filtrado['suenio_act'] = df_fmed_filtrado['horas_suenno_calidad'].apply(sleep_habit_case)
C:\Users\noeam\AppData\Local\Temp\ipykernel_11832\552682515.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fmed_filtrado['suenio_1'] = df_fmed_filtrado['suenno_diario_1ano'].apply(sleep_habit_case)
C:\Users\noeam\AppData\Local\Temp\ipykernel_11832\552682515.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fmed_filtrado['suenio_5'] = df_fmed_filtrado['suenno_diario_5anos'].apply(sleep_habit_case)

,grado_estudios,tienes_obesidad,estatura,peso_actual,imc,sexo,horas_ejercicio_actual,horas_ejercicio_1ano,horas_ejercicio_5ano,horas_suenno_calidad,suenno_diario_1ano,suenno_diario_5anos,IMC,ejer_act,ejer_1,ejer_5,suenio_act,suenio_1,suenio_5
0,B,2.0,1.44,49.5,NaN,F,5.0,10.0,5.0,4.0,9.0,9.0,23.871528,B,B,B,M,B,B
1,B,2.0,1.44,47.1,NaN,F,0.0,0.0,1.5,4.0,5.0,8.0,22.714120,M,M,M,M,M,B
2,B,2.0,1.59,51.0,21.0,F,0.0,5.0,9.0,4.0,1.0,5.0,20.173253,M,B,B,M,M,M
3,B,2.0,1.72,85.0,28.6,M,3.0,5.0,15.0,3.0,5.0,7.0,28.731747,B,B,B,M,M,B
4,B,2.0,1.45,51.4,24.4,F,8.0,15.0,25.0,5.0,8.0,8.0,24.447087,B,B,B,M,B,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839,B,2.0,1.66,67.0,NaN,M,0.0,2.0,4.0,5.0,8.0,7.0,24.314124,M,M,B,M,B,B
840,B,2.0,1.60,65.0,NaN,F,0.0,2.0,4.0,4.0,7.0,9.0,25.390625,M,M,B,M,B,B
841,B,2.0,1.68,88.0,NaN,F,0.0,8.0,4.0,1.0,9.0,8.0,31.179138,M,B,B,M,B,B
842,B,2.0,1.62,63.0,NaN,F,1.0,5.0,5.0,3.0,8.0,9.0,24.005487,M,B,B,M,B,B
843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,M,M,M,M,M

# Creamos variables de categoria Obesidad

In [15]:
def obesity_case(value):
    if (value >= 30):
        return 1
    else:
        return 0

In [16]:
df_2014_filtrado['obesidad'] = df_2014_filtrado['IMC'].apply(obesity_case)
df_2014_filtrado

C:\Users\noeam\AppData\Local\Temp\ipykernel_11832\3059660220.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2014_filtrado['obesidad'] = df_2014_filtrado['IMC'].apply(obesity_case)

,grado_estudios,tienes_obesidad,estatura,peso_actual,imc,sexo,horas_ejercicio_actual,horas_ejercicio_1ano,horas_ejercicio_5ano,IMC,ejer_act,ejer_1,ejer_5,obesidad
0,T,2,158,775.0,31045.0,M,2,2,6,31.045,M,M,B,1
1,T,2,149,79.0,35584.0,F,1,0,0,35.584,M,M,M,1
2,L,2,174,70.0,23121.0,M,1,1,1,23.121,M,M,M,0
3,S,2,168,65.0,2303.0,M,1,5,5,23.030,M,B,B,0
4,B,2,165,55.0,20202.0,F,6,6,6,20.202,B,B,B,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1070,L,2,168,45.0,15944.0,F,1,5,5,15.944,M,B,B,0
1071,B,2,16,54.0,20833.0,F,20,0,0,20.833,B,M,M,0
1072,D,2,168,73.0,2526.0,M,6,6,5,25.260,B,B,B,0
1073,S,2,156,70.0,29136.0,F,4,4,0,29.136,B,B,M,0
1074,M,2,163,69.0,2597.0,M,2,3,5,25.970,M,B,B,0

In [17]:
df_fmed_filtrado['obesidad'] = df_fmed_filtrado['IMC'].apply(obesity_case)
df_fmed_filtrado

C:\Users\noeam\AppData\Local\Temp\ipykernel_11832\3742804104.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fmed_filtrado['obesidad'] = df_fmed_filtrado['IMC'].apply(obesity_case)

,grado_estudios,tienes_obesidad,estatura,peso_actual,imc,sexo,horas_ejercicio_actual,horas_ejercicio_1ano,horas_ejercicio_5ano,horas_suenno_calidad,suenno_diario_1ano,suenno_diario_5anos,IMC,ejer_act,ejer_1,ejer_5,suenio_act,suenio_1,suenio_5,obesidad
0,B,2.0,1.44,49.5,NaN,F,5.0,10.0,5.0,4.0,9.0,9.0,23.871528,B,B,B,M,B,B,0
1,B,2.0,1.44,47.1,NaN,F,0.0,0.0,1.5,4.0,5.0,8.0,22.714120,M,M,M,M,M,B,0
2,B,2.0,1.59,51.0,21.0,F,0.0,5.0,9.0,4.0,1.0,5.0,20.173253,M,B,B,M,M,M,0
3,B,2.0,1.72,85.0,28.6,M,3.0,5.0,15.0,3.0,5.0,7.0,28.731747,B,B,B,M,M,B,0
4,B,2.0,1.45,51.4,24.4,F,8.0,15.0,25.0,5.0,8.0,8.0,24.447087,B,B,B,M,B,B,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839,B,2.0,1.66,67.0,NaN,M,0.0,2.0,4.0,5.0,8.0,7.0,24.314124,M,M,B,M,B,B,0
840,B,2.0,1.60,65.0,NaN,F,0.0,2.0,4.0,4.0,7.0,9.0,25.390625,M,M,B,M,B,B,0
841,B,2.0,1.68,88.0,NaN,F,0.0,8.0,4.0,1.0,9.0,8.0,31.179138,M,B,B,M,B,B,1
842,B,2.0,1.62,63.0,NaN,F,1.0,5.0,5.0,3.0,8.0,9.0,24.005487,M,B,B,M,B,B,0
843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,M,M,M,M,M,0

In [18]:
df_2014_filtrado.to_csv('~/Documents/git/github/proyecto_pt2/outputs/2014_final.csv', index=False, header=True)
df_fmed_filtrado.to_csv('~/Documents/git/github/proyecto_pt2/outputs/fmed_final.csv', index=False, header=True)

In [19]:
df = pd.concat([df_2014_filtrado, df_fmed_filtrado])
variables = ['horas_suenno_calidad', 'suenno_diario_1ano', 'suenno_diario_5anos', 'suenio_act', 'suenio_1', 'suenio_5']
df_final = df.drop(variables, axis=1)
df_final

,grado_estudios,tienes_obesidad,estatura,peso_actual,imc,sexo,horas_ejercicio_actual,horas_ejercicio_1ano,horas_ejercicio_5ano,IMC,ejer_act,ejer_1,ejer_5,obesidad
0,T,2.0,158.00,775.0,31045.0,M,2.0,2.0,6.0,31.045000,M,M,B,1
1,T,2.0,149.00,79.0,35584.0,F,1.0,0.0,0.0,35.584000,M,M,M,1
2,L,2.0,174.00,70.0,23121.0,M,1.0,1.0,1.0,23.121000,M,M,M,0
3,S,2.0,168.00,65.0,2303.0,M,1.0,5.0,5.0,23.030000,M,B,B,0
4,B,2.0,165.00,55.0,20202.0,F,6.0,6.0,6.0,20.202000,B,B,B,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839,B,2.0,1.66,67.0,NaN,M,0.0,2.0,4.0,24.314124,M,M,B,0
840,B,2.0,1.60,65.0,NaN,F,0.0,2.0,4.0,25.390625,M,M,B,0
841,B,2.0,1.68,88.0,NaN,F,0.0,8.0,4.0,31.179138,M,B,B,1
842,B,2.0,1.62,63.0,NaN,F,1.0,5.0,5.0,24.005487,M,B,B,0
843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,M,M,0

In [20]:
df_final.to_csv('~/Documents/git/github/proyecto_pt2/outputs/completo_final.csv', index=False, header=True)